@import "tailwindcss";

                              /* Primary */
.bg-primary {
  background-color: rgb(15,76,117);
}
.bg-primary-dark {
  background-color: rgb(15, 76, 92);
}
.bg-sub {
  background-color: rgb(233, 236, 239,0.9);
}

                             /* Secondary */
.bg-secondary {
  background-color: rgb(245, 158, 11);
}


                               /* Text*/
.text-main {
  color: rgb(31, 41, 55);
}
.text-sub {
  color: rgb(233, 236, 239);
}
.text-muted {
  color: rgb(248, 249, 250);
}
.text-secondary {
  color: rgb(245, 158, 11);
}
.text-primary {
  color: rgb(15,76,117);
}
.text-primary-dark {
  color: rgb(15, 76, 92);
}

body{
  padding:0;
  margin:0;
 overflow-x:hidden;
}

.bg-hero {
    background: linear-gradient(
    to right,
    rgba(245,158,11),
    rgba(245,158,11,0.8),
    rgba(245,158,11, 0.1)
  );
}